<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StreamingSite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
          <ul>
            <li class='dropdown'><a href= '/home'>Manga</a>
                <ul class='dropdown-menu'>
                    <li><a href='#'>Titles</a></li>
                    <li><a href='#'>Rating</a></li>
                </ul>
            </li>
            <li class="input-group">
                    <form method="post" role="search" class="quick-search" action="/search">
                        <input type="text" placeholder="Quick search" name="search" required>
                        <button class="btn-quick-search" type="submit"><span class='fas fa-search fa-fw ' aria-hidden='true' ></span></button>
                    </form>
            </li>
            <li>
                <ul class="menu-right">
                    <li class="account-setting"><a href="/user-setting">User Setting</a></li>
                    <li class="account-setting"><a href="/logout">Logout</a></li>
                </ul>
            </li>
           </ul>
        </nav>
        <div class="notfound-group"><div class="notfound-child"><h1 class="notfound">404 {{manga}} not found</h1></div></div>
    </body>
</html>